{% extends "base.html" %}
{% load static %}
{% block content %}
  

<div class="container-fuid mx-4">
    <div class="row mt-5">
    </hr>
        <div class="col-2">
        
            <div class="card" style=";margin-top: 120px;">
                <div class="card-header bg-primary" style="color: white; max-height: 200px; overflow-y: auto;">
                    All Category
                  </div>
                  <ul class="list-group list-group-flush" style="max-height: 820px; overflow-y: auto;">
                    <li class="list-group-item"><a href="{% url 'store'%}">All Products</a></li>
                      {% for category in links %}
                  <li class="list-group-item"><a href="{{ category.get_url }}">{{category.category_name}}</a></li>
                      {% endfor %}
                  </ul>
                
            </div> <!-- card.// -->
            
        </div>
        <div class="col-10">
           <!-- ========================= SECTION PAGETOP ========================= -->
        <section class="section-pagetop pt-3" style="height: 15px;">
            <div class="container">
                <div class="d-flex justify-content-center">
                    {% if 'search' in request.path%}
                    <h2 class="title-page">Search Result</h2>
                    {% else %}
                    <h2 class="title-page">Our Store</h2>
                    {% endif %}
                </div> <!-- container //  -->
            </div>
        </section>
<!-- ========================= SECTION INTRO END// ========================= -->

                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto">Found <b>{{ product_count }}</b> items</span>
                        
                    </div>
            </header><!-- sect-heading -->

            <div class="row">
                {% if products%}
                {% for product in products %}
                <div class="col-md-2">
                    <figure class="card card-product-grid">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-9"></div>
                                <div class="col-3 border bg text-success-light"style="height: 30px; text-decoration: line-through;font-weight:bold;">${{ product.price_bar }}</div>

                            </div>
                        </div>
                        <div class="img-wrap"> 
                            
                          <a href="{{ product.get_url }}"><img src="{{ product.image.url}}"></a>
                            
                        </div> <!-- img-wrap.// -->
                        <figcaption class="info-wrap">
                            <div class="fix-height">
                                <a href="{{ product.get_url }}" class="title">{{ product.product_name}}</a>
                                <div class="price-wrap mt-2">
                                    <span class="price">${{ product.price }}</span>
                                    <!-- <del class="price-old">$1980</del> -->
                                </div> <!-- price-wrap.// -->
                            </div>
                            <a href="{{ product.get_url }}" class="btn btn-block btn-success">View Detail </a>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                {% endfor %}
                {% else %}
                <div class=" text-center pt-5 ">
                    <h2 class="text-danger px-5">No result found. Please try again later.</h2>
                </div>
                {% endif %}
                
            </div> <!-- row end.// -->
            <nav class="mt-4" aria-label="Page navigation sample">
                {% if products.has_other_pages %}
                    <ul class="pagination">
                        {% if products.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">next</a></li>
                        {% else %}
                            <li class="page-item desabled "><a class="page-link" href="#">next</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </nav>
        </div>

    </div>
</div>   
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
   
        </aside> <!-- col.// -->
    <main class="col-md-9">

    
    
    
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
